html, body{
    height: 100%;
    margin: 0;
}
.BackgroundCover
{
    height: 100%;
    background-color: black;
   
}

.Navbar
{
    height: 100px;
    
    padding: 10px;
}
.NavBarBrandLink
{
    font-size: 30px;
    color: white;
    font-weight: 600;
}
.NavBarLinkWrapper
{
    width: 80%;
}
.NavLinkRight {
    float: right;
}
.NavItem
{
    float: right;
    margin-right: 30px;
}
.NavLink{
    color: white;
    font-size: 20px;
}
.NavLink:hover{
    color: white;
    text-decoration: none;
}
.NavBarBrand
{
    width: 15%;
    float: left;
}
