html, body{
    height: 100%;
    margin: 0;
}
.BackgroundCover
{
    height: 100%;
    background: url('../images/wp2291590.jpg');
    background-size: cover;
    background-position: left;
}

.Navbar
{
    height: 100px;
    background-color: blue;
    padding: 10px;
}
.NavBarBrandLink
{
    font-size: 30px;
    color: white;
    font-weight: 600;
}
.NavBarLinkWrapper
{
    width: 80%;
}